ul li.low {
    background: rgb(131, 243, 131);
}

ul li.moderate {
    background: rgb(241, 243, 131);
}

ul li.high {
    background: rgb(255, 161, 19);
}

ul li.extreme {
    background: rgb(255, 27, 19);
}

.results {
    flex-direction: column;
}

.result-div {
    display: flex;
    flex-direction: column;
}

.city-icon {
    display: flex;
    align-items: flex-end;
}

#current-forcast {
    list-style-type: none;
    padding-inline-start: 0;

}

#future {
    display: flex;
}