body {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    background: rgb(212, 212, 212);
}

#main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results-display {
    margin: 0 50px;
    margin-top: 20px;
}

header {
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 0rem;
}


.low {
    background: rgb(131, 243, 131);
}

.moderate {
    background: rgb(241, 243, 131);
}

.high {
    background: rgb(255, 161, 19);
}

.extreme {
    background: rgb(255, 27, 19);
}

.results {
    flex-direction: column;
}

.city-icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#current-forcast {
    margin-bottom: 30px;

}

#future, #future-weather {
    display: flex;
}

.search-history {
    font-size: 20px;
    padding-top: 15px;
}

.savedlist {
    cursor: pointer;
    margin: 10px 5px;
    text-align: center;
    font-weight: bold;
}

#fiveDay {
    margin: 20px 0;
}

#future-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.futureFiveCard {
    margin-right: 25px;
    margin-top: 10px;
}

@media screen and (min-width: 992px) {
    #main-card {
        flex-direction: row;
        align-items: baseline;
    }
    .savedlist {
        text-align: left;
    }
    #search {
        width: 350px;
    }
    #future-card {
      flex-wrap: nowrap;
    }

    #results-display {
        margin: 0 50px;
        margin-top: 0px;
    }

    ul li.low {
        width: 15%;
    }
    
    ul li.moderate {
        width: 15%;
    }
    
    ul li.high {
        width: 15%;
    }
    
    ul li.extreme {
        width: 15%;
    }
} 